@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
}

header{
    display: grid;
    place-items: center;
    background-color: rgb(224, 224, 224);
    font-family:  sans-serif;
    height: 100px;
}

.container{
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 1rem;
}

.container2{
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 1rem;
}

.tittle{
    font-family: sans-serif;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.carro{
    width: 400px;
    height: 300px;
    border: 1px solid rgba(64, 64, 64, .3);
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(64, 64, 64, .5);
}

.span{
    font-family: 'Inter', sans-serif;
}

span{
    color: blue;
}
