@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-image: url(https://images8.alphacoders.com/118/1185382.jpg);
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 8em;
    font-family: 'Bebas Neue';
    font-weight: 400;
}
