body{
    background-image: url(https://static.videezy.com/system/resources/thumbnails/000/022/280/original/thumbnail-white.jpg);
    background-size: cover;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.presentacion{
    border-bottom: 5px solid rgba(84, 92, 97, 0.3);
    border-left: 5px solid rgba(37, 41, 44, 0.3);
    border-right: 5px solid rgba(37, 41, 44, 0.3);
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    justify-content: space-between;
    background: rgb(36,36,36);
    background: linear-gradient(90deg, rgba(36,36,36,1) 0%, rgba(61,61,61,1) 35%, rgba(79,79,79,1) 100%);
}

.logos-c{
    width: 75%;
    height: 200px;
    box-shadow: 4px 4px 4px rgb(0, 2, 95);
    text-align: center;
    border: 2px solid blue;
    color: aliceblue;
    margin: 0 auto;
    background-image: url(https://th.bing.com/th/id/OIP.pQezf6RRyZ6uWpFIsp5UywHaE7?pid=ImgDet&rs=1);
    background-position: center center;
    border-radius: 20px;
}

.colores-c{
    background-image: url(https://www.freecodecamp.org/news/content/images/2021/09/divTag.png);
    background-position: 100px 300px;
    width: 75%;
    height: 200px;
    box-shadow: 4px 4px 4px rgb(0, 2, 95);
    text-align: center;
    border: 2px solid blue;
    color: aliceblue;
    margin: 0 auto;
    border-radius: 20px;
}

.bordes-c{
    width: 75%;
    height: 200px;
    background-image: url(https://th.bing.com/th/id/R.ecb4e68b0d60321df235395c148b7124?rik=sH3Fn1NWulLkTg&riu=http%3a%2f%2fi1.hdslb.com%2fbfs%2farchive%2f95d7a5c91e31339a6d06f7821c79f236e32219f4.png&ehk=mb2CIZ%2b0yaLqsmQ5vdb2IcrMjZUIBBQPtenke04fImw%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
    background-position: 1px 800px;
    box-shadow: 4px 4px 4px rgb(0, 2, 95);
    text-align: center;
    border: 2px solid blue;
    color: aliceblue;
    margin: 0 auto;
    border-radius: 20px;
}

.catalogo{
    background-image: url(https://s1.1zoom.me/big0/20/346262-admin.jpg);
    background-position: 100px 450px;
    width: 75%;
    height: 200px;
    box-shadow: 4px 4px 4px rgb(0, 2, 95);
    text-align: center;
    border: 2px solid blue;
    color: aliceblue;
    margin: 0 auto;
    border-radius: 20px;
}

.tablas{
    background-image: url(https://i.blogs.es/9de470/excel/1366_521.jpg);
    background-position: 10px 500px;
    width: 75%;
    height: 200px;
    box-shadow: 4px 4px 4px rgb(0, 2, 95);
    text-align: center;
    border: 2px solid blue;
    color: aliceblue;
    margin: 0 auto;
    border-radius: 20px;
}

.tablas:hover{
    border:2px solid rgb(86, 15, 133);
    box-shadow: 4px 4px 4px rgb(63, 0, 136);
    transition: 2s;
}


.catalogo:hover{
    border:2px solid rgb(86, 15, 133);
    box-shadow: 4px 4px 4px rgb(63, 0, 136);
    transition: 2s;
}

.logos-c:hover{
    border:2px solid rgb(86, 15, 133);
    box-shadow: 4px 4px 4px rgb(63, 0, 136);
    transition: 2s;
}

.colores-c:hover{
    border:2px solid rgb(86, 15, 133);
    box-shadow: 4px 4px 4px rgb(63, 0, 136);
    transition: 2s;
}

.bordes-c:hover{
    border:2px solid rgb(86, 15, 133);
    box-shadow: 4px 4px 4px rgb(63, 0, 136);
    transition: 2s;
}


li{
    text-align: left;
    margin-left: 1em;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

a:hover{
    color: rgb(48, 255, 245);
    transition: 2s;
}

hr{
    width: 75%;
    color: black;
}

h1{
    font-size: 3em;
    color: white;
    display: inline-block;
}

h2.font{
    padding-bottom: .8em;
}
