* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container{
    background-color: white;
    width: 100%;
    height: 14.0625rem;
}

.nav-container .white-top-bar{
    width: 100%;
    height: 2.2em;
    background-color: rgb(255, 255, 255);
}

.nav-container .blue-top-bar{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 2.5rem;
    background-color: rgb(78, 78, 184);
}

.nav-container .top-nav .h-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.2rem;
    background-color: #f1f0ef;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.nav-container .blue-top-bar .style-icon{
    color: white;
    font-size: 2rem;
}

.nav-container .blue-top-bar img{
    width: 9rem;
}

.nav-container .nav-objets{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 12.5rem;
}

.nav-container .nav-objets .sena-logo{
    width: 7.8125rem;
}

.nav-container .nav-objets .trabajo-logo{
    width: 18.75rem;
}

.nav-container .top-nav .h-menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1em;
}

.nav-container .top-nav .h-menu li{
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 0.8em;
    text-align: center;
    height: 2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-left: 2px solid rgb(0, 255, 21);
    border-right: 2px solid rgb(0, 255, 21);
}

.nav-container .top-nav .h-menu li a{
    text-decoration: none;
    color: black;
}

.nav-container .top-nav .h-menu .home-background{
    display: inline-flex;
    background-color: #464646;
    width: 3rem;
    height: 2rem;
}

.nav-container .top-nav .h-menu .home-background .nav-menu-home{
    display: flex;
    align-items: center;
    margin-left: .35rem;
    border: none;
    color: white;
}

.vertical-nav-container {
    width: 500px;
    height: auto;
    border: 1px solid black;
    margin-top: 150px;
    margin-left: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .h-nav {
    width: 100%;
    height: 100%;
  }
  
  .v-menu {
    width: 100%;
    height: 100%;
  }
  
  .v-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
  }
  
  .vertical-menu {
    display: block;
    background-color:#464646;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
  }
  
  .vertical-menu:hover {
    background-color: #ddd;
  }
  
  .vertical-menu.active {
    background-color: #4CAF50;
    color: #fff;
  }

  .v-list li:hover {
    border-bottom: 2px solid black;
  }