*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', sans-serif;
    background-color: rgb(0, 0, 122);
}
nav{
    height: 80px;
}
.main-img-box{
    width: 100%;
    height: 55vh;
    background-image: url(https://img.freepik.com/foto-gratis/3d-render-paisaje-arbol-contra-cielo-nocturno_1048-5698.jpg?w=1380&t=st=1690806893~exp=1690807493~hmac=1ef6578285527d1f794cb5f7932464c73f5742a10cd34b5055315e820dfee931);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: 900;
    color: white;
}
.article-box{
    width: 100%;       
    display: grid;
    margin-top: 40px;
    gap: 70px;
    grid-template: "empty-izq article-1 article-2 article-3 empty-der" 520px 
                    "empty-izq article-4 article-5 article-6 empty-der" 540px/
                    1fr       420px     420px     420px     1fr;
}
.article-1{
    grid-area: article-1;
    /* background-color: blueviolet; */
}
.article-2{
    grid-area: article-2;
    /* background-color: blueviolet; */
}
.article-3{
    grid-area: article-3;
    /* background-color: blueviolet; */
}
.article-4{
    grid-area: article-4;
    /* background-color: blueviolet; */
}
.article-5{
    grid-area: article-5;
    /* background-color: blueviolet; */
}
.article-6{
    grid-area: article-6;
    /* background-color: blueviolet; */
}
.img-article{
    background-color: rgb(0, 217, 255);
    width: 100%;
    border-radius: 30px;
    height: 300px;
}
.text-cont{
    padding-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    line-height: 1.4em;
}

@media only screen and (max-width: 720px){
    .article-box{
        gap: 20px;
        grid-template: "empty-izq article-1 empty-der" 520px
                       "empty-izq article-2 empty-der" 520px
                       "empty-izq article-3 empty-der" 520px
                       "empty-izq article-4 empty-der" 520px
                       "empty-izq article-5 empty-der" 520px
                       "empty-izq article-6 empty-der" 520px/
                        1fr       420px     1fr;
        
    }
}