@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&display=swap');

body{
    background-image: url(https://www.xtrafondos.com/descargar.php?id=3190&resolucion=3840x2160);
}

h1{
    text-align: center;
    color: white;
    font-size: 6em;
    font-family: Cinzel;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(30%);
    position: absolute;
}

.contenedor{
    display: flex;
    justify-content: center;
    padding-top: 4em;
}