*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.table1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 800px;
    border: 1px solid rgb(0, 238, 255);
    border-collapse: collapse;
    background-color: #333;
}

.tabla2{
    display: flex;
    justify-content: center;
}

th, .marcadata{
    border: 3px dotted rgb(147, 248, 255);
    padding: 0.5em;
    color: white;
}

span{
    float: right;
    color: rgb(0, 238, 255);
    margin: 5px;
}

.title{
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

.fechas{
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1em;
}

.presentacion{
    background-color: #eee;
}

.principal{
    text-align: center;
    padding: 0.5em;
}

.colores2{
    display: flex;
    padding: 10px;
}

.colores{
    display: flex;
    padding: 10px;
}

.rojo1, .azul1{
    width: 20px;
    height: 20px;
}

img{
    width: 50px;
    height: 50px;
}